doctype html
html(lang='en-us')
  head
    != partial('_partials/head')
  body(itemscope, itemtype='https://schema.org/WebPage')
    header(itemscope, itemtype='https://schema.org/WPHeader')
      != partial('_partials/navigation')
      .space
    main(itemscope, itemtype='https://schema.org/Blog')
      section
        != body
