article.full
  h1(itemprop='headline')= page.title
  if page.updated
    span.post-meta
      | Last updated on
      time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY')
  != page.content
