article.full
  h1(itemprop='headline')= page.title
  .post-meta
    .post-date
      | Date:
      time(itemprop='datePublished', datetime= page.date.toISOString())= full_date(new Date(page.date), ' dddd, MMMM Do YYYY')
      if page.updated
        .post-modified
          | Modified:
          time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY')
  != page.content
