if theme.logo
  a(href= config.root)
    img(src= theme.logo, alt= config.title, title= config.title)
h1
  a(href= config.root, alt= config.title, title= config.title, itemprop='headline')= config.title

p= config.subtitle

nav(itemscope, itemtype='https://schema.org/SiteNavigationElement')
  ul
    each url, label in theme.menu
      li(itemprop='name')
        a(href= url, alt= label, title= label, itemprop='url')= label

if theme.projects
  h2 Projects
  nav(itemscope, itemtype='https://schema.org/SiteNavigationElement')
    ul
      each url, label in theme.projects
        li(itemprop='name')
          a(href= url, alt= label, title= label, itemprop='url')= label

if theme.topics
  h2 Topics
  nav(itemscope, itemtype='https://schema.org/SiteNavigationElement')
    ul
      each url, label in theme.topics
        li(itemprop='name')
          a(href= url, alt= label, title= label, itemprop='url')= label
